.story {
    &__pictures {
        background-color: $color-primary;

        // Grid
        grid-column: full-start / col-end 4;
    }

    &__content {
        background-color: $color-grey-light-1;
        padding: 6rem 8vw;

        // Grid
        grid-column: col-start 5 / full-end;

        // Flexbox
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}